<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>欢迎页</title>

<style type="text/css">
<!-
.STYLE2 {font-family: Georgia, "Times New Roman", Times, serif}
.STYLE3 {
	font-size: 60px;
	color: #FF0000;
}
.STYLE4 {font-size: 36px}
-->
</style>
</head

<body>
<h1 align="center" class="STYLE1 STYLE2 STYLE3">欢迎</h1>
<ul>
  <ul class="STYLE2">
    <li class="STYLE4"><a href="/ran">随机数</a></li>
    <li class="STYLE4"><a href="/video">潮州大舞台</a></li>
    <li class="STYLE4"><a href="/tj">团建</a></li>
    <li class="STYLE4"><a href="/cqj">陈秋杰</a></li>
    <li class="STYLE4"><a href="/zhh_in">郑昊华进校</a></li>
    <li class="STYLE4"><a href="/zhh_out">郑昊华出校</a></li>
  </ul>
 </ul>
	
</body>
</html>
